<h2 class="mb-5">Thông tin liên hệ</h2>
<div >
    <div class="row">
        <div class="col-sm-6 col-md-3">
           <p><img src="https://scontent.fsgn5-10.fna.fbcdn.net/v/t39.30808-6/241207350_3114094768821522_500043618683807740_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=174925&_nc_ohc=MnZJKNIzHkgAX_XB6Ns&_nc_ht=scontent.fsgn5-10.fna&oh=00_AfAOWJNoW2-FMyIgDYuLSrkbxhOSrIqoapnfBsI2VMfQKg&oe=648F5194" style="width:200px;"></p>
        </div>
        <div class="col-md-6 col-md-3">
            <h4>Hồ Minh Quý</h4>
            <p>Di động: 0868366424</p>
            <p>Mail: 19161156@student.hcmute.edu.vn</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-3">
           <p><img src="https://scontent.fsgn5-12.fna.fbcdn.net/v/t39.30808-6/326361051_912989573058659_4419421041601317469_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=174925&_nc_ohc=OLHbK4glM1UAX9Iucs8&_nc_ht=scontent.fsgn5-12.fna&oh=00_AfB28BdlfhjIK8d9KOYauFHfYj35NpajKNHycLehPkqoaQ&oe=649040F3" style="width:200px;" ></p>
        </div>
        <div class="col-md-6 col-md-3">
            <h4>Trần Duy Nhất</h4>
            <p>Di động: 0868366424</p>
            <p>Mail: 19161146@student.hcmute.edu.vn</p>
        </div>
    </div>
</div>