    <div class="container">
        <div class ="col-6 offet-md-3">
            <form class="bg-light p-4" action="" method="POST" enctype="application/x-www-form-urlencoded">
                <div class="form-group">
                    <label for="Id">Mã</label>
                    <input type="text" class="form-control" name="Id">
                </div>
                <div class="form-group">
                    <label for="TenKieuCan">Tên kiểu cân</label>
                    <input type="text" class="form-control" name="Ten">
                </div>
                <div class="form-group">
                    <label for="SoLanCan">Số lần cân</label>
                    <input type="text" class="form-control" name="SoLan">
                </div>
                <div class="form-group">
                    <label for="GhiChu">Ghi chú</label>
                    <input type="text" class="form-control" name="GhiChu">
                </div>
                <button type="submit" class="btn btn-primary" name="btn_reg">Sign in</button>
            </form>
        </div>
    </div>